* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF3C7;
}

.header img {
    width: 100px;
    object-fit: cover;
}

.nav-items ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.nav-items ul li a {
    text-decoration: none;
    margin: 0 8px;
    color: black;
}

.nav-items ul li {
    margin: 0 15px;
    font-size: 20px;

}

.top-body-sec {
    display: flex;
    justify-content: space-around;
}

.filter {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px;
}

.filter:hover {
    color: rgb(240, 157, 4);
    text-decoration: underline;
}

.search input {
    font-size: 15px;
    width: 350px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    padding-left: 7px;
}

.search {
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 6px;
    justify-content: space-between;
    margin: 20px;
    display: flex;
    align-items: center;
}

.search input:hover {
    border-color: rgb(240, 157, 4);
}

.search-icon:hover {
    background-color: rgb(250, 180, 50);
}

.search-icon {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(249, 197, 101);
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.res-cards {
    width: 270px;
    height: 270px;
    margin: 20px;
}

.res-cards:hover {
    transform: scale(0.95, 0.95);
    cursor: pointer;
}

.res-cards img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}

.res-card-details {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 200px;
    word-wrap: break-word;
}

.restaurant-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.restaurant-container a{
    text-decoration: none;
    color: black;
}

.shimmer-img {
    width: 100%;
    height: 160px;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.shimmer {
    background-color: rgb(240, 240, 240);
    width: 200px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
}

.margin {
    margin: 80px;
}

.res-details{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.res-details p , .item-desc{
    color: gray;
}

.fee-details{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.fee-details div {
    display: flex;
}

.res-menu{
    margin: 3% 20%;
}

.time i{
    font-size: 15px;
    margin: 0 5px;
}

hr{
    border: none;
    border-bottom: 1px dashed #d3d3d3;
    margin: 15px;
}

.menu{
    display: flex;
    margin: 25px 0;
}

.menu .left{
    width: 83%;
}

.menu .left p{
    margin: 5px 0;
}

.item-name{
    font-size: 20px;
    font-weight: bold;
}

.price{
    font-size: 20px;
}

.veg{
    width: 20px;
}

.nonveg{
    width: 35px;
}

.menu .right img{
    width: 150px;
    border-radius: 6px;
}

.menu .right button{
    width: 100px;
    height: 30px;
    margin: 0 -120px;
    border: 1.5px solid gray;
    background-color: white;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    cursor: pointer;
}

.blank-box{
    width: 100px;
    height: 30px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.choice{
    display: flex;
}

.choice p{
    font-size: 20px;
}

.choice button{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}
